.button-menu{
    display: inline;
    right: 5px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.principal{
    background-color:rgb(155, 194, 199);
    border: solid rgb(155, 194, 199);
    display: inline-block;
    position: fixed;
    width: 100%;
    margin: 0 auto 500px auto; 
    z-index: 1;  
}

.logo { 
	width:250px;
	height:200px;
	position:absolute;
    margin-left:-800 ;
	top:-45px;
	background-image:url(Imagens\img\images\beleza_local_removebg_preview_1.png);
    padding-left: 50px
}


.titulo{
    padding-top: 0.5em;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    color: white;
}

.subtitulo{
    text-align: center;
    margin-left: 33%;
    font-size: 18px;
    padding-top: 0.3em;
    padding-bottom: 0.8em;
    color: white;
    display: inline-block;
}

/*barra de rolamento |que aparecerá quando tiver mais conteudo na tela*/
::-webkit-scrollbar{
    width: 0.5em;
    background-color: white;
    border: 0.9em solid white;
}

::-webkit-scrollbar-thumb{
    background-color:gray;
    border-radius: 0.5em;
    border: 0.2em solid rgb(101, 102, 100)
}

@media screen and (max-width: 480px) { 
    .principal{
        display: inline-block;
    }
    .subtitulo{
        margin-left: 13%;
        font-size: 100%;
    }
    .button-menu{
        font-size: 150%;
    }
}