.caixa-colaboradores {
    border: 0.1rem solid #ccc;
    display: inline-block;
    margin: 0 0 5%, 0;
    margin-left: 14%;
    margin-right: 8%;
    width: 68.75rem;
    height: 15.75rem;
    border-radius: 0.35rem;
}
.titulo-apresentação {
    font-size: 1.563rem;
    text-align: center;
}
.colaboradores2 {
    display: inline-block;
    font-size: 1.177rem;
    padding: 0rem 0.2rem 0rem 2.1rem;
}
.Bernardo, .Ígor, .Kauã, .Thauan, .Kelwyn, .Manu {
    display: inline-block;
    width: 6.875rem;
    height: 6.875rem;
    border-radius: 4.375rem;
    border: solid #cccccc;
    margin: 0rem 2rem 0rem 1.9rem;
}
@media screen and (max-width: 480px) { 
    
    .caixa-colaboradores{
        text-align: center;
        margin-left: 30%;
        width: 95%;
        height: auto;
    }
    .Bernardo, .Ígor, .Kauã, .Thauan, .Kelwyn, .Manu {
        width: 15%;
        height: 15%;
        align-items: center;
    }
    .Colaboradores{
        font-size: 5px;
    }
}
