.Mmenu{
    background-color: rgb(70, 70, 255);
    width: 0em;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s ;
    
}

.menu{
    display: block;
    color: cornsilk;
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
    font-size: 25px;
    border-bottom: solid;
    color: black;
}

/*CSS Formulário*/
.agendamento-online{
    display: block;
    margin: 0 0 5px;
    padding: 20px 0px 5px;
    width: 30%;
}
h1{
    font-size: 15;
    font-style: bold;
}
fieldset {
    width: 30%;
}
fieldset option{
    text-align: center;
    width: 15%;
}
textarea{   
    width: 31.8%;
}
form label{
    display: block;
}
form input{
    width: 20%;
    border-radius: 5px;
}
.enviar-formulario{
    display: block;
    margin: 10px 0px 10px 0px;
    font-size: 20px;
    width: 20%;
    border-radius: 10px;
}
.enviar-formulario:hover {
    animation: balanço 0.7s alternate;
    cursor: pointer;
}
@keyframes balanço{
    0%{
        transform: translateX(0%);
    }
    20%{
        transform: translateX(-2%);
    }
    40%{
        transform: translateX(2%);
    }
    60%{
        transform: translateX(-2%);
    }
    80%{
        transform: translateX(2%);
    }
    100%{
        transform: translateX(0%);
    }
}
